@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 47% 41%;
    --foreground: 0 0% 100%;
    --card: 253 45% 30%;
    --card-foreground: 0 0% 100%;
    --popover: 253 45% 30%;
    --popover-foreground: 0 0% 100%;
    --primary: 251 51% 72%;
    --primary-foreground: 253 45% 10%;
    --secondary: 253 45% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 253 45% 30%;
    --muted-foreground: 251 20% 80%;
    --accent: 251 51% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 251 51% 50%;
    --input: 253 45% 28%;
    --ring: 251 51% 72%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 250 47% 41%;
    --foreground: 0 0% 100%;
    --card: 253 45% 30%;
    --card-foreground: 0 0% 100%;
    --popover: 253 45% 30%;
    --popover-foreground: 0 0% 100%;
    --primary: 251 51% 72%;
    --primary-foreground: 253 45% 10%;
    --secondary: 253 45% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 253 45% 30%;
    --muted-foreground: 251 20% 80%;
    --accent: 251 51% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 251 51% 50%;
    --input: 253 45% 28%;
    --ring: 251 51% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom, hsl(var(--background)), hsl(253 45% 18%));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: contain;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
